#task-container {
    width: 100%;
    background-image: url('task-bg.jpg');
    background-size: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#add-task {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 17px;
    background-color: ivory;
    border: 1px solid ivory;
    border-radius: 17px;
    box-sizing: border-box;
}

#add-task input {
    margin: auto;
    width: 45%;
}

#add-task input.submit {
    width: 70px;
    padding: 0;
    margin-left: 5px;
}

#task-box {
    width: 40%;
    margin: auto;
    margin-top: 40px;
    max-height: 500px;
    text-align: left;
    padding: 17px;
    background-color: ivory;
    border-radius: 17px;
    box-sizing: border-box;
    overflow-x: hidden;
}

#task-list {
    width: 100%;
    margin: 9px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

#task-list button {
    float: right;
    opacity: 0.01;
}

#task-list:hover button {
    opacity: 1;
}

#task-list button:hover {
    cursor: pointer;
}