.form {
    max-width: 400px;
    height: fit-content;
    border: 1px solid #4FB6C7;
    border-bottom: 10px solid #4FB6C7;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    padding-top: 10px;
    overflow: visible;
    position: relative;
}

.img {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

/* .x {
    text-align: right;
    margin-right: -10px;
    margin-left: -10px;
    background-color: #4FB6C7;
}

.x-btn {
    background-color: #4FB6C7;
    border-color: #4FB6C7;
    color: #3F4C52;
}

.x-btn:hover {
    cursor: pointer;
    background-color: #F0E7E2;
} */

/* .header {
    font-weight: 500;
    margin: 10px;
} */

label {
    color: #3F4C52;
}

input {
    margin: 10px;
    padding-left: 10px;
    max-width: 360px;
    height: 20px;
    border: 1px solid #4FB6C7;
}

.regist {
    text-align: center;
}

.regist-btn {
    width: 100px;
    text-align: center;
    background-color: #4FB6C7;
    color: #F0E7E2;
    border: 1px solid #4FB6C7;
    border-radius: 4px;
}

.regist-btn:hover {
    cursor: pointer;
}