h1.layout-header {
    text-align: center;
}

div.layout {
    display: flex;
    flex-direction: row;
}

aside {
    flex: 1;
    max-width: fit-content;
    height: fit-content;
}

aside nav {
    display: flex;
    flex-direction: column;
}

aside nav a{
    text-decoration: none;
    font-size: large;
    color: black;
    border-left: 3px solid black;
    border-right: 2px solid black;
    border-radius: 6px;
    height: 40px;
    margin-bottom: 2px;
    padding: 15px 20px 0;
}

section {
    flex: 2;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    margin: auto;
}