#profile-container {
    width: 100%;
    background: url('profile-bg.jpg') no-repeat center;
    padding: 70px 0;
}

#content-box {
    width: 40%;
    margin: auto;
    background-color: ivory;
    border: 1px solid ivory;
    border-radius: 17px;
}

#user-data {
    width: 100%;
    margin: auto;
    padding: 17px;   
}

.title {
    text-align: center;
}

#user-data th, #user-data td {
    border-bottom: 1px solid darkgray;
    text-align: left;
}

#user-data th {
    padding: 10px 0 10px 20px;
    width: 123px;
}