#profile-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

#user-data {
    width: 40%;
    margin: auto;
}

.title {
    text-align: center;
}

th, td {
    border-bottom: 1px solid darkgray;
    text-align: left;
}

th {
    padding: 10px 0 10px 20px;
    width: 123px;
}