#login-container, #regist-container {
    width: 100%;
    min-height: 70vh;
    background-color: grey;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

form.auth {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    padding: 10px;
    border-radius: 17px;
    background-color: ivory;
}

form.auth h1 {
    text-align: center;
}

form.auth label {
    margin-bottom: 3px;
    margin-left: 5px;
    font-weight: bold;
}

form.auth input {
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid darkgrey;
    border-radius: 6px;
    padding-left: 20px;
}

.p {
    text-align: center;
}
