#login-container {
    width: 100%;
    background-image: url('login-bg.jpg');
    padding-top: 100px;
    padding-bottom: 100px;
}

#regist-container {
    width: 100%;
    background-image: url('registration-bg.jpg');
    padding-top: 30px;
    padding-bottom: 30px;
}

form.auth {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 17px;
    background-color: ivory;
    opacity: 0.9;
}

form.auth h1 {
    text-align: center;
}

form.auth label {
    margin-bottom: 3px;
    margin-left: 5px;
    font-weight: bold;
}

form.auth input {
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid darkgrey;
    border-radius: 6px;
    padding-left: 20px;
}

.p {
    text-align: center;
}
