form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    margin-bottom: 20px;
}

form h1 {
    text-align: center;
}

form label {
    margin-bottom: 3px;
    margin-left: 5px;
    font-weight: bold;
}

form input {
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid darkgrey;
    border-radius: 6px;
    padding-left: 20px;
}

.p {
    text-align: center;
}
