#body {
    width: 101.2%;
    margin: -8px;
}

#header {
    height: 60px;
    background-color: black;
    text-align: center; 
    display: flex;
    flex-direction: row;
}

.icon {
    color: ivory;
}

#title {
    margin: auto;
}


#title, .link :hover {
    cursor: pointer;
}

.link {
    color: ivory;
    text-decoration: none;
}

.account {
    float: right;
    margin-right: 30px;
    background-color: black;
    border-style: none;
}

#footer {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 2px solid darkgray;
}