#body {
  width: 101.2%;
  margin: -8px;
}

#header {
  height: 60px;
  background-color: black;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

#title {
    margin: auto;
    margin-left: 20px;
    float: left;
}

.link {
    color: ivory;
    text-decoration: none;
}

#title, .link :hover {
    cursor: pointer;
}

.icon {
  color: ivory;
}

.account {
  float: right;
  margin-right: 30px;
  background-color: black;
  border-style: none;
}

.account:hover {
  cursor: pointer;
}

.menu {
  position: absolute;
  right: 10px;
  top: 60px;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  border-radius: 11px;
  width: 150px;
  box-sizing: border-box;
}

.menu > li {
  margin: 0;
  border-radius: 11px;
  background-color: ivory;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 90%;
  height: 90%;
  text-align: center;

  background: none;
  color: inherit;
  border: 1px solid darkgray;
  border-radius: 11px;
  padding: 5px;
  margin: 5px;
  font: inherit;
  cursor: pointer;
}

.menu > li > button.danger:hover {
  background-color: red;
  color: ivory;
}

#footer {
  width: 100%;
  text-align: center;
  background-color: black;
  color: ivory;
  padding-top: 45px;
  padding-bottom: 45px;
  border-top: 1px solid darkgray;
}